{% extends 'base.html' %}


{% block title %} About-PrivacyChurch {% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %} 


<div class="container my-3">
    <h5 class="card-header bg-info ">About Us</h5>
    <div class="card-body">
      <h5 class="card-title">You are being watched. Private and state-sponsored organizations are monitoring and recording your online activities.</h5>
      <p class="card-text">At PrivacyChurch, we provide services, tools, and knowledge to protect your privacy against global mass surveillance, and moderate a thriving community of privacy-minded individuals like yourself to discuss and learn about new advances in protecting your online data. This website serves as the centerpiece of our organization, where we research and recommend various software solutions for our community.</p>
      <p>This site is designed to help everyday internet users, activist, journalists, and anyone else find apps that help make privacy easier. There are lots of amazing apps out there that advanced users swear by but are not user friendly, and for the most part those are skipped here. We test and recommend the ones that we know we can say “download this, it will work” and not something that’s going to take a user 3 weeks to learn.</p>
      <p>The site’s sole purpose is to make it easier for you to find software and tools that allow you to keep your life as private as you want. Big corporations offer you “free” products, but at what price? Sure, you don’t give them a credit card, but you are giving them a lot of personal information they use to turn a profit with. With these tools, we can help you reduce or outright stop that practice.</p>
      <p><strong>Some things to know</strong></p>
      <p>Every piece of software or solution on this site has been tested by us or someone we trust. This site will only recommend software and tools we can stand behind. While developers can offer free trials or accounts to us, that won’t help them get listed. If we get a free account and it does not meet the site’s standards, it won’t be listed.</p>
    
    
    
    
</div>
 



{% endblock body %}


